@media (max-width: 768px) {
  .section {
    width: 100%;
  }
}

* {
    box-sizing: border-box;
  }

body {
	font-family: 'Poppins', sans-serif;
  	display: flex;
  	flex-direction: column;
  	justify-content: space-between;
}

.contacts {
	display: flex;
	list-style: none;
	justify-content: flex-end;
	margin-right: 40px;
	font-size: 18px;

}

.container {
	max-width: 1440px;
	margin: 0px auto;
}

.nav {
	flex-direction: column;
	display: flex;
	justify-content: flex-end;
	margin-top: 0;
	position: relative;
	bottom: 200px;
	right: 100px;
}

a {
	text-decoration: none;
	color: #192b3a;
}

.hover:hover {
	text-decoration: none;
	color: #f6b653;
	background-color: #192b3a;

}

.nav-item {
	font-size: 18px;
	border: 2px solid #f6b653;
	background-color: #192b3a;
}

.nav-list {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	list-style: none;
	margin-top: 0; 
}

.nav-link {
	padding: 0 20px;
	line-height: 50px;
	color: #f6b653;
}

.section-name {
	display: flex;
	min-height: 600px;
}

.left-column {
	margin-left: 75px;
	border-right: 2px #f6b653;
	width: 50%;
}
.right-column {
	width: 50%;
    margin-top: 100px;
  	padding-left: 40px;
    border-left: 10px solid #f6b653;

}

.main-container {
  display: flex;
  flex-wrap: wrap;
}

.section {
  width: 50%;
}

header {
	background-color: #f6b653;
	height: 300px;
}

main {
	background-color: #192b3a;
}

footer {
	background-color: #f6b653;
}

.photo {
	width: 250px;
	margin-left: 100px;
	margin-top: 40px;
	border: 10px solid #192b3a;
	border-radius: 200px;
}

.pre {
	display: flex;
	justify-content: flex-end;
	color: #f8f8ff
}

.section-name {
	display: flex;
	justify-content: space-around;
}

.section-title-main {
	font-size: 60px;
	color: #f6b653;
}

.section-title-two {
	margin-top: -40px;
	border-bottom: 3px solid #f6b653;
	color: #f8f8ff;
}

.edu-list {
	width: 500px;
	color: #f8f8ff
}

.lang-list {
	width: 500px;
	color: #f8f8ff
}

.about {
	width: 500px;
	color: #f8f8ff;
}

.section-title {
	color: #192b3a;
	border: 2px solid #f6b653;
	background-color: #f6b653;
	border-radius: 1px;
	display: inline-block;
}

.skill-item {
	color: #f8f8ff
}

#lang {
	margin-top: 50px;
	padding-top: 50px;
}

#education {
	margin-top: 50px;
	padding-top: 30px;
}

.logo {
	margin-left: 900px;
	width: 100px;
}

.contacts-title {
	color: #192b3a;
	margin-top: 25px;
	
}

.border {
	border-bottom: 5px solid #192b3a;
}
